@font-face {
    font-family: Segoe Print;
    src: url(../fonts/Segoe Print.ttf);
}
@font-face {
    font-family: Segoe Print Bold;
    src: url(../fonts/Segoe Print Bold.ttf);
}
marquee {
	line-height: 75%;
}
h1 {
	font-family: Segoe Print;
	text-align: center;
}
#accordion, #tabs, #tabs2 {
	font-family: Segoe Print;
}
.hidden, .hide, #end {
	display: none;
}
